In [4]:
import pandas as pd
import numpy as np

# Đường dẫn đến file feather cần đọc
file_path = 'GQUIC_small/dataset1/Test/test_Transfer_VoIP_128.feather'

# Đọc file feather
df = pd.read_feather(file_path)

In [5]:
# Hiển thị dữ liệu
df

,flow_id,0,1,2,3,4,5,6,7,8,...,119,120,121,122,123,124,125,126,127,Label
0,4,24,40,120,184,96,123,17,147,35,...,214,186,114,46,50,158,68,87,175,1
1,4,24,40,120,184,96,123,17,147,35,...,199,86,18,230,40,174,47,113,187,1
2,4,28,40,120,184,96,123,17,147,35,...,0,0,0,0,0,0,0,0,0,1
3,4,24,40,120,184,96,123,17,147,35,...,106,249,239,149,112,82,32,63,85,1
4,4,24,40,120,184,96,123,17,147,35,...,253,216,229,25,175,99,103,230,213,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65835,155102,85,57,237,241,3,17,27,226,9,...,40,120,154,12,228,199,136,170,40,2
65836,155102,150,83,39,37,158,228,96,148,218,...,0,0,0,0,0,0,0,0,0,2
65837,155102,96,118,191,40,53,223,196,241,240,...,0,0,0,0,0,0,0,0,0,2
65838,155102,120,22,5,102,185,208,112,29,84,...,0,0,0,0,0,0,0,0,0,2
65839,155102,176,130,212,245,249,253,129,212,234,...,0,0,0,0,0,0,0,0,0,2

In [7]:
label_counts = df['flow_id'].value_counts()
label_counts

4         20
88512     20
88088     20
88288     20
88308     20
          ..
47773     20
47882     20
47924     20
47945     20
155102    20
Name: flow_id, Length: 3292, dtype: int64